main{
    text-align: center;
    background-color: #FFFFE0;
    width: 400px;
    border: solid 3px #A52A2A;
    padding: 20px;
}

.header{
    text-align: center;
}

.image{
    align-self: center;
    border: solid 5px #FFA500;
    width: 200px;
    height: 100px;
}

.paragraph{
    align-content: space-around;
    width: 350px;
    max-height: 125px;
    border: 5px dashed #FFA500;
    background: yellow;
    margin: 10px;
    overflow-y: scroll;
}

.text{
    align-self: center;
    text-decoration: underline;
    font-weight: bolder;
}